body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    background-color:gainsboro
}


.container {
    padding: 80px;
    text-align: center;
    font-size: 20px;
    color: white;
    min-height: 200px;
    background: url('img/resort.jpg')  no-repeat -200px -520px;
    opacity: 0.9;
}
    .container h1{
        font-size: 40px;
    }
    .container p {
        font-size: 20px;
    }


.myTopNav {
    overflow: hidden;
    background-color: #333;
}
    .myTopNav a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
    }
.myTopNav .search {
    float: right;
}
    .myTopNav input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
    }
    .myTopNav .search button {
        float: right;
        padding: 6px 12px;
        margin-top: 8px;
        margin-right: 16px;
        background-color: darkcyan;
        font-size: 17px;
        border: none;
        color: white;
    }
        .myTopNav .search button:hover {
            background: darkslategrey;
            color: white;
        }

    .myTopNav a:hover {
        background-color: darkslategrey;
        color: white;
    }


.active {
    background: darkcyan;
}


.boxes{
    text-align:center;
    padding-top:10px;
    padding-bottom:330px;
    
}
    .boxes h4 {
        color: darkslategrey;
    }

.myBox {
    padding: 20px;
    float: left;
    width: 30%;
    text-align: center;
}
    .myBox img {
        width: 30%;
        border-radius: 50%;
    }
    .myP{
        display:none;
    }


#reserv {
    text-align:center;
    padding-bottom:30px;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlide img {
    width: 30%;
    height: 400px;
    border-radius: 50%;
    float:left;
    padding:20px;
    margin-top:30px;
    margin-bottom:20px;
    opacity:0.7;
}
.slideShow {
    text-align: center;
    border-top:groove;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top:50px;
}


.myButton {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color:tomato;
    border: none;
    border-radius: 15px;
  
}
    .myButton:hover {
        background-color: darkcyan;
        color: white;
    }
    .myButton:active {
        background-color: darkcyan;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }


.myServSection {
    text-align: center;
    padding-top: 60px;
    padding-bottom: 108px;
}
.myServSection2 {
    text-align: center;
    padding-bottom: 180px;
}
.myServSec{
    float: left;
    padding: 5px 96px 20px 80px;
    width:20%;
}
    .myServSec h4, .myServSection h1, footer h3, footer h4, .menu h1, .menu h3{
        color: darkslategrey;
    }


.myContSection{
    padding:80px 80px 60px 90px;
    text-align:left;
}
    .myContSection button{
      float:right;
    }
#ContButton {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: white;
    background-color: tomato;
    border: none;
    border-radius: 15px;
}
    #ContButton:hover {
        background-color: darkcyan;
        color: white;
    }

    #ContButton:active {
        background-color: darkcyan;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }


#reservContainer {
    border-radius: 5px;
    padding: 10px;
    margin-left: 280px;
    width: 60%;
    background-color: #333;
    display:none;
}

#Contcontainer {
    border-radius: 5px;
    padding: 10px;
    margin-left: 90px;
    width: 60%;
    background-color: #333;
    display: none;
}
#column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}
#column label{
    color:white;
}
#row:after {
    content: "";
    display: table;
    clear: both;
}
#column [type=text], #column [type=date], #column [type=time], #column [type=number],select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 16px;
    margin-bottom: 18px;
    resize: vertical;
}
input[type=submit] {
    background-color: darkcyan;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
    input[type=submit]:hover {
        background-color: darkslategrey;
    }


.menu {
    text-align: center;
    margin-top:80px;
    padding-bottom: 500px;
    
}
.myMenu {
    background-color: #333;
    float: left;
    padding: 40px 10px 60px 10px;
    margin: 20px 20px 20px 20px;
    width: 20%;
    text-align: center;
    color: white;
    border-radius: 5%;
}
    .myMenu img {
        width:150px;
        height:150px;
        border-radius: 50%;
    }
    .myMenu p, .myMenu h2 {
        text-align: left;
        padding-left: 40px;
    }

#aboutSec {
    text-align: center;
    margin: 80px 50px 150px 100px;
    padding: 10px 85px 15px 55px;
    width: 65%;
    background-color: #333;
    height: 800px;
    color: white;
    border-radius:10px;
}

#myArticle {
    width: 60%;
    float: left;
    text-align: left;
    border: double;
    border-color: white;
    padding: 10px 10px 10px 15px;
    margin-top:20px;
}
#myAside {
    width: 30%;
    float: right;
    padding: 10px 10px 10px 15px;
    text-align: left;
    border: double;
    border-color: white;
    margin-top: 20px;
}

footer {
    text-align: center;
    border-top: groove;
    margin-top: 60px;
    padding-top: 40px;
}
.myFoot{
    float:left;
    padding: 30px 70px 30px 120px;
}




@media(max-width: 768px) {
    .container h1, #reserv, .slideshow-container, .mySlide{
        width: 100%;
        text-align: center;
    }
    header .myTopNav {
        height: 96px;
    }
    .myTopNav a {
        width:56px;
    }

    .myTopNav .search {
        width: 100%;
    }
        .myTopNav input[type=text] {
            width: 86.8%;
            height: 20px;
           
            margin-left: 5px;
        }
        .myTopNav button[type=submit] {
            width: 8.6%;
            height: 33px;
            float: right;
            margin-right: 5px;
            
        }

    .myBox{
        width:100%;
      
       padding-left:0px;
    }
    .slideShow img {
        width: 300px;
        height: 300px;
        float: none;
    }

    .boxes h1 {
        font-size: 22px;
    }

    #reservContainer{
        float:none;
        margin-left:40px;
        width:80%;
    }

    .myServSection, .myServSection2 {
        padding-bottom: 0px;
        margin-top: 30px;
        padding-top: 0px; 
    }
    .myServSec {
        width: 50%;
        margin-left: 50px;
        float: none;
        padding-top:5px;
       padding-bottom:0px;
       margin-top:0px;
    }
    .menu {
        float: none;
        margin-left: 50px;
        padding-bottom:0px;
    }
    .myMenu {
        float: none;
        width: 80%;
        margin-left:10px;
    }
      
.myMenu h2 {
    padding-left: 10px;
}
        .myMenu p {
            padding-left: 80px;
        }

    .myContSection {
        text-align:center;
        height:300px;
    }
    .myContSection p {
        float: left;
       
    }
    .myContSection #ContButton {
        width:100%;
    }
    #myForm input[type=text], #myForm textarea, #myForm input[type=number], #myForm input[type=date],
    #myForm input[type=time] {
        width: 150%;
    }
    #myForm input[type=submit] {
        width: 165%;
    }

    #aboutSec {
        margin-left: 50px;
        height: 700%;
        text-align: center;
        margin-top: 50px;
        width:50%;
    }
     
        article#myArticle {
            margin:30px;
            float: none;
            width: 80%;
        }
    #myArticle h3, #myAside h3 ,.myMenu h2{
        text-align: center;
    }
    aside#myAside {
        margin: 30px;
        float: none;
        width: 80%;
    }

    footer .myFoot {
        text-align: center;
        width: 50%;
    }

    footer {
        padding-bottom: 30px;
    }
}






























/*@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }



   ***** FORM *******
    @media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
}*/



